<%- include('partials/header') %>


<div id="vantajs2">


    
    <div class="about-top">
        <center>
            <h2 class="animate__animated animate__flipInX animate__delay-1s">About me</h2>
        </center>
        <br><br><br><br><br>
       
        <div class="row" style="width: 100%;">
            <div class="col-md-6 img-col" style="width: 100%;">
                <img src="technical-support.png" alt="" width="45%" height="auto">
            </div>
            <div class="col-md-6 txt-col" style="width: 100%;">
                <h3>
                   Pursuing B.Tech in Information Technology
                </h3>
                <br><br>
                <h4>
                    I am a student of Second Year Engineering in Dwarkadas J. Sanghvi College Of Engineering.
                </h4>
                <h4>
                    My field of interest currently lies in Web Development , Artificial Intelligence and Machine Learning.
                </h4>
                <h4>
                    Lately I have been exploring fields like Competitive Programming and researching on Cyber-Security.
                </h4>
            </div>
        </div>
        <br><br><br><br><br>

        <div class="row" style="width: 100%;">
            <div class="col-md-6  txt-col" style="width: 100%;">
                <h3>
                    Marketing Executive for DJS Kronos India
                 </h3>
                 <br><br>
                 <h4>
                    DJS KRONOS INDIA is the official off-road racing team of Dwarkadas J. Sanghvi College of Engineering. 
                 </h4>
                 <h4>
                     My role in the team was to rope in sponsors and look for potential tie-ups with brands and companies.
                 </h4>
                 <h4>
                     I was a part of this team for 6 months in the year 2020.
                 </h4>
            </div>
            <div class="col-md-6 img-col" style="width: 100%;">
                <img class="atv" src="atv-icon.png" alt=""  height="350px" width="350px">
                <img class="animate__animated animate__fadeInLeftBig animate__delay-5s" src="screen.png" alt="" width="500px" height="300px"  >
            </div>
        </div>
    
        <button id='runaway-btn'>My Weaknesses</button>
    </div>
    

    




</div>


<div class="loader-wrapper con">
    <span class="loader"><span class="loader-inner"></span></span>

</div>



<%- include('partials/footer') %>