<%- include('partials/header') %>


<div id="vantajs2">


    
    <div class="about-top">
        <center>

            <h2 class="animate__animated animate__flipInX animate__delay-1s" style="display: inline-block; margin-left: 200px;">  About me</h2>
            <div style="display: inline-block;">
                <img class="animate__animated animate__hinge animate__delay-1s"  src="man-losing-hat.png" alt="" width="200px" height="auto">
            </div> 
            
        </center>
        <br><br><br>
       
        <section id="cd-timeline" class="cd-container">
            <div class="row" style="width: 100%;">
                <div class="col-md-6 img-col" style="width: 100%;">
    
                    <img class="animate__animated animate__bounceInDown animate__delay-1s" src="technical-support.png" alt="" width="50%" height="auto">
                    <span class="timeline1">2019-2023</span>
                </div>
                <div class="col-md-6 txt-col" style="width: 100%;">
         
                    <h3 class="animate__animated animate__jackInTheBox animate__delay-1s">
                       Pursuing B.Tech in Information Technology (CGPA : 9.53)
                    </h3>
                    <br><br>
                    <h4 class="animate__animated animate__fadeInUp animate__delay-1s">
                        I am a student of Second Year Engineering in Dwarkadas J. Sanghvi College Of Engineering.
                    </h4>
                    <h4 class="animate__animated animate__fadeInUp animate__delay-1s">
                        My field of interest currently lies in Web Development , Artificial Intelligence and Machine Learning.
                    </h4>
                    <h4 class="animate__animated animate__fadeInUp animate__delay-1s">
                        Lately I have been exploring fields like Competitive Programming and researching on Cyber-Security.
                    </h4>
                </div>
            </div>
            <br><br><br><br><br><br><br><br>
    
            <div class="row" style="width: 100%;">
                <div class="col-md-6  txt-col" style="width: 100%;">
                    <h3 data-aos="fade-right" data-aos-delay="50" data-aos-duration="800">
                        Marketing Executive for DJS Kronos India
                     </h3>
                     <br><br>
                     <h4 data-aos="fade-up" data-aos-delay="100" data-aos-duration="800">
                        DJS KRONOS INDIA is the official off-road racing team of Dwarkadas J. Sanghvi College of Engineering. 
                     </h4>
                     <h4 data-aos="fade-up" data-aos-delay="100" data-aos-duration="800">
                         My role in the team was to rope in sponsors and look for potential tie-ups with brands and companies.
                     </h4>
                     <h4 data-aos="fade-up" data-aos-delay="100" data-aos-duration="800">
                         I was a part of this team for 6 months in the year 2020.
                     </h4>
                </div>
                <div class="col-md-6 img-col" style="width: 100%;">
                    <span class="timeline2">Mar '20 - Sep '20</span>
                    <br><br><br>
                    <img class="atv" src="atv-icon.png" alt=""  height="350px" width="350px">
                    <img class="animate__animated animate__fadeInLeftBig animate__delay-5s"  src="screen.png" style="border-radius: 20px;" alt="" width="500px" height="300px"  >
                </div>
            </div>
            <br><br><br><br><br><br><br><br>

            <div class="row" style="width: 100%;">
                <div class="col-md-6 img-col" style="width: 100%;">
    
                    <img data-aos="fade-right" data-aos-delay="100" data-aos-duration="800" class="" src="acm-white-logo.png" alt="" width="60%" height="auto">
                    <span class="timeline1">Dec '20 - Present</span>
                </div>
                <div class="col-md-6 txt-col" style="width: 100%;">
         
                    <h3 data-aos="fade-left" data-aos-delay="50" data-aos-duration="800">
                       Co-Head InfoTech Department for DJACM
                    </h3>
                    <br><br>
                    <h4 data-aos="fade-up" data-aos-delay="100" data-aos-duration="800">
                        DJSCE-Association for Computing Machinery's vision is to impart high quality education, promote research culture and inculcate ethical values to develop/produce professionally competent engineers capable of meeting global challenges
                    
                    </h4>
                    <h4 data-aos="fade-up" data-aos-delay="100" data-aos-duration="800">
                        My role was development of DJACM Website and creating webpages according to the upcoming events.
                    </h4>
                    <h4 data-aos="fade-up" data-aos-delay="100" data-aos-duration="800">
                        <a href="www.djacm.co.in">View Website DJSCE - ACM </a>
                    </h4>
                </div>
            </div>
        
            <button id='runaway-btn'>My Weaknesses</button>
        </div>
        
    
        
    
    
    
    
    </div>
    
        </section>
       

<div class="loader-wrapper con">
    <span class="loader"><span class="loader-inner"></span></span>

</div>



<%- include('partials/footer') %>