<%- include('partials/header') %>


<div id="vantajs3" >
    <div class="project">
        <center>
            <h3 class="animate__animated animate__flipInY">My Projects</h3>
        </center>
        <br><br><br>
        <div class="row setting" style="width: 100%;">
            <div class="col-md-4">
                <div class="card transition">
                    <h2 class="transition">Picsagram</h2>
                    <p>Instagram-clone website without the story features. <br>Technologies: Node.js, MongoDB, Passport.js </p>
                 
                    <div class="cta-container transition"><a href="#" class="cta"><i class="fab fa-github fa-lg" aria-hidden="true" style=""></i>&nbsp; View Repo</a></div>
                    <div class="card_circle transition project1"></div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card transition">
                    <h2 class="transition">Blog-Website</h2>
                    <p>Personal Blog with Top News integration using API.  <br>Technologies: Node.js, MongoDB, REST API </p>
                    <div class="cta-container transition"><a href="#" class="cta"><i class="fab fa-github fa-lg" aria-hidden="true" style=""></i>&nbsp; View Repo</a></div>
                    <div class="card_circle transition project2"></div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card transition">
                    <h2 class="transition">Simon Game</h2>
                    <p> A memory game developed with the help of JavaScript and jQuery. <br>Technologies: HTML ,CSS , JS</p>
                    <div class="cta-container transition"><a href="#" class="cta"><i class="fab fa-github fa-lg" aria-hidden="true" style=""></i>&nbsp; View Repo</a></div>
                    <div class="card_circle transition project3"></div>
                  </div>
            </div>
        </div>
        <br><br><br>
        <div class="row setting" style="width: 100%;">
            <div class="col-md-4">
                <div class="card transition">
                    <h2 class="transition">Rock Paper Scissors</h2>
                    <p>Rock Paper Scissors game with UI inspired from FrontEnd Mentor.</p>
                    <div class="cta-container transition"><a href="#" class="cta"><i class="fab fa-github fa-lg" aria-hidden="true" style=""></i>&nbsp; View Repo</a></div>
                    <div class="card_circle transition project4"></div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card transition">
                    <h2 class="transition">Lost & Found</h2>
                    <p>A hackathon project in which the users can find their lost belongings via list of found items added by users.</p>
                    <div class="cta-container transition"><a href="#" class="cta"><i class="fab fa-github fa-lg" aria-hidden="true" style=""></i>&nbsp; View Repo</a></div>
                    <div class="card_circle transition project5"></div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card transition">
                    <h2 class="transition">To-Do List</h2>
                    <p>One of my first projects including a database via MongoDB and hosting via Heroku.</p>
                    <div class="cta-container transition"><a href="#" class="cta"><i class="fab fa-github fa-lg" aria-hidden="true" style=""></i>&nbsp; View Repo</a></div>
                    <div class="card_circle transition project6"></div>
                  </div>
            </div>
        </div>
        <br><br><br>
        <div class="row setting" style="width: 100%;">
            <div class="col-md-4">
                <div class="card transition">
                    <h2 class="transition">Newsletter Signup</h2>
                    <p> Developed a sign-up page for users to register for a Newsletter. <br> Integration of MailChimp API to gather responses</p>
                    <div class="cta-container transition"><a href="#" class="cta"><i class="fab fa-github fa-lg" aria-hidden="true" style=""></i>&nbsp; View Repo</a></div>
                    <div class="card_circle transition project7"></div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card transition">
                    <h2 class="transition">CDAC - Financial Literacy *</h2>
                    <p>Ongoing Project for Centre for Development of Advanced Computing, to create a game on Financial Literacy for students in 6th – 9th Grade</p>
                    <div class="cta-container transition"><a href="#" class="cta"><i class="fab fa-github fa-lg" aria-hidden="true" style=""></i>&nbsp; View Repo</a></div>
                    <div class="card_circle transition project8"></div>
                  </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="card transition">
                    <h2 class="transition">To-Do List</h2>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <div class="cta-container transition"><a href="#" class="cta"><i class="fab fa-github fa-lg" aria-hidden="true" style=""></i>&nbsp; View Repo</a></div>
                    <div class="card_circle transition project9"></div>
                  </div>
            </div> -->
            <div class="col-md-4">
                <h2 style="font-size: 40px;">More to come ...</h2>
            </div>
        </div>
    
    
    </div>

</div>

<div class="loader-wrapper con">
    <span class="loader"><span class="loader-inner"></span></span>

</div>

<%- include('partials/footer') %>